/* General Styles */
*{
    font-family: Montserrat Sans-serif;
}
body {
    font-family: Montserrat Sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#btnP {
    color: #FFFFFF;
    border-color: white;
    border-radius: 10px;

}

.btn {
    background-color: #032B44;
}

.btn :hover {
    background-color: yellow;
}

.nav-link:hover .underline {
    background-color: yellow;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
}

.navbar-nav ul li {
    font-family: Montserrat Sans-serif;
    display: flex;
    align-items: right;
    justify-content: space-between;
    width: 100%;
}

.container1 h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.navbar-brand a {
    color: #FFFFFF;
}



header nav li {
    margin-right: 20px;
    text-align: right;
    display: block;
}

header nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.hero {
    font-family: Montserrat Sans-serif;
}

header nav a:hover {
    color: yellow;
}

/* Hero Section Styles */
.hero {
    background-image: url('Images/BackgroundImage.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    color: #fff;
    text-align: center;


}

.Hero {
    background-image: url('Images/Logos/LogoDakker.jpeg');
    background-size: contain;
    background-size: contain;
    width: 100%;
    height: 30vh;
    background-position: center;
    color: #fff;
    text-align: center;

}

.navbar-toggler {
    background-color: #FFFFFF;
    color: #fff;
}

.Hero .container {
    position: relative;
    z-index: 1;
}

.quote {
    background-image: url('Images/Wall.jpeg');
    background-size: contain;
    width: 100%;
    height: 50vh;
    background-position: center;
    color: #fff;
    text-align: center;

}

.quote .container {
    position: relative;
    z-index: 1;
    padding-top: 120px;
}

.hero .container {
    position: relative;
    padding-top: 100px;
    text-align: center;
    z-index: 1;
}

.hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5em;

    margin-bottom: 20px;
}

.hero .btn {
    background-color: #032B44;
    color: #FFFFFF;
}

.hero .btn:hover {
    border-color: yellow;
    color: #FFFFFF;
}

.btn:hover {
    background-color: yellow;
    color: #FFFFFF;
}

.button {
    background-color: #032B44;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.service-image {
    width: 50px;
    height: 50px;
    display: block;
}

.button:hover {
    background-color: yellow;
    color: #333;
}

/* Main Content Styles */
section {
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#company-corporate-information {
    text-align: center;
    padding: 20px;
    background: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#supporting-documents ul li {
    display: inline-block;
    padding-right: 4px;
    list-style-type: disc;
    padding-right: 8px;
}

section#supporting-documents {
    text-align: center;
}

section h2 {
    margin-bottom: 10px;
}

/* Services Section */
#services ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

/*Projects Section*/
#projects .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    border-color: #032B44;
    border-radius: 10px;
}

#projects .btn:hover {

    color: #032B44;
    border-color: yellow;

}

#projects .col {

    border-color: #032B44;
    border-radius: 10px;
}

/* Contact Form Styles */
form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #032B44;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #FF9900;
    color: #333;
    border-style: solid;
}

/* Footer Styles */
footer {
    background-color: #032B44;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    padding-right: 30px;
}
footer .container .footer-content .contact-info {
    padding-right: 20px;
}
footer li a {
    color: #FFFFFF;
    text-decoration: none;

}

footer li a:hover {
    color: yellow;

}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}
.useful-links,
.social-links,
.contact-info {
    margin-right: 20px;
}

h4 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #CCCCCC;
}

.fa {
    font-size: 24px;
    margin-right: 10px;
}

.contact-info p {
    margin-bottom: 10px;
}

.copyright {
    text-align: center;
    margin-top: 10px;
}

.social-links ul {
    list-style: none;
}

image3DRandomPanter {
    height: 100px;
    width: 100px;
}

/* About Us Section */
#about {
    padding: 50px 0;
    background-color: #f9f9f9;
}

#about .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

#about h2 {
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #032B44;
}

#about p {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #666;
}

.about-section {
    flex: 1;
    margin-bottom: 40px;
    margin-right: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.about-section h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #032B44;
}

.about-section p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}

@media only screen and (max-width: 768px) {
    #about .container {
        flex-direction: column;
    }


    .about-section {
        width: 100%;
    }
}

/* Services Section */
#services {
    padding: 50px 0;
    background-color: #f4f4f4;
}

#services .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#services h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #032B44;
}


.button {
    background-color: #032B44;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

.button:hover {
    background-color: yellow;
    color: #333;
}

.prev,
.next {
    background-color: #032B44;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.prev:hover,
.next:hover {
    background-color: yellow;
    color: #333;
}



.container-text-center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.col {
    text-align: center;
    padding: 20px;
    margin: 0 10px;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1 0 auto;
    max-width: 200px;
}

.col h3 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #032B44;
}

.col p {
    margin-top: 0;
    font-size: 0.9em;
    color: #666;
}

/**statistics*/
.statistics-section {
    background-color: #032B44;
}

.statistics-section {
    border: none;
    color: white;
}

.statistics-section h3 {
    color: white;
}

.statistics-section p {
    color: white;
}

.statistics-section .row .col h3 p {

    background-color: #032B44;
    color: white;
}

.statistics-section .col {
    background-color: #032B44;
    border: none;
}

span {

    color: #FF9900;
}

.introduction {
    background-color: #fff;
    padding: 20px;
}

.introduction .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.introduction h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.introduction p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/**Completed Projects*/
.completed-projects {
    background-color: #f7f7f7;
    padding: 20px;
}

.completed-projects .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#completed-projects {
    background-color: #f7f7f7;
    text-align: center;
}

.completed-projects h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.col {
    flex-basis: 20%;
    margin: 10px;
}

.completed-projects .col img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.completed-projects {
    background-color: #f7f7f7;
    padding: 20px;
}

.completed-projects .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.completed-projects h3 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

div.Documents {
    display: inline-block;
    size: 20%;

}

.Documents img {
    width: 100%;
    height: auto;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}